<article class="col-xs-12 col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-0" ng-repeat="trend in ctrl.trending">
                <figure>
                    <img ng-click="details =! details" ng-src="{{trend.images.small}}" />
                </figure>
                <h2>{{trend.price | currency}}</h2>
                <button class="btn btn-sdefault" href="#" role="button">
                <icon class="glyphicon glyphicon-plus-sign"></icon>Add to Cart
                </button>
                <h4 ng-show="details">{{trend.title}}</h4>
                <p ng-show="details">{{trend.description}}</p>
                
</article> 